pytest
python-dotenv
pydantic
fastapi
uvicorn
llama-index
crewai
scikit-learn
matplotlib
python-pptx
pytest-asyncio
llama-cloud 
llama-index
llama-parse  
nltk  
numpy  
openai  
pandas
pydantic_core  
PyJWT  
pypdf  
pytest-cov  
python-dateutil 
pytz  
pydantic-settings 
prometheus_client
structlog
email-validator
shap
boto3
redis
seaborn
rapidfuzz
watchtower
python-json-logger